@model WorkloadProject.Models.LoginModel
<link rel="stylesheet" type="text/css" href="~/css/StyleLogin.css">
@{ 
    Layout = null;
}
<center>
    <h2>Добро пожаловать</h2>
    <br>
    <div class="main">
        <form asp-action="Login" asp-controller="Home" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div>
                <div class="field">
                    <label asp-for="Email">Введите Email</label>
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <br>
                <div class="field">
                    <label asp-for="Password">Введите пароль</label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
                <br>
                <div class="field">
                    <input type="submit" value="Войти" class="buton" />
                </div>
            </div>
        </form>
        </div>
</center>
<br><br><br><br><br><br>
